<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Room 13" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta property="og:title" content="Room 13 – A global art world members club" />
    <meta property="og:site_name" content="Room 13" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" itemprop="image" content="<%= image_url('shared/og-image.jpg') %>" />
    <meta property="og:image:alt" content="Room 13 Website" />
    <meta property="og:description" content="Room 13 is a global art world members club. Join us for extraordinary events, meaningful connections, and a really bloody good party." />

    <!-- 100% privacy-first analytics -->
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body class="bg-[#f8f5f0]">
    <%= yield %>
    <%= render 'layouts/shared/footer' %>
  </body>

</html>
